// basic settings

h1, h2, h3, h4, h5, p {
  margin: 0;
}
h1,h2,h3,h4,h5,a{
    font-family: 'Open Sans', "Roboto","Helvetica Neue", Helvetica,Arial,sans-serif;
}
li > p {
  padding-top: 0;
}
p,li, th, td, option,input, label,.mat-input-infix{
    font-size: $base-size;
    color:$color;
}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    font-size: initial;
}
