
/*main color */
$gradient:linear-gradient(148deg,#0060df 7%,#0479f4 20%,#0681fc 27%,#02bdf1 60%,#01d3f0 67%,#05f0e6 100%);
$danger:#f44336;
$link:#4285F4;
$active:#5764c6;
$orange--error:#FF7043;
$light_grey: #FAFAFA;
$color:#606060;
$grey-hover:#F4F6FB;
$skeleton-color:#EDEDED;
$blue:#009cff;
$input-color:rgba(0,0,0,.38);

//typo 
$base-size:1.5rem;
$h1-size:3.4rem;
//nav
$nav-size-default: 20rem;
$nav-size-sm:4.3rem;
$img-height:30rem;
$max-width:110rem;
$max-width--sm:40rem;
